{% extends 'shop/basic.html' %}

{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>My Awesome Cart was founded in October 2007 in Mumbai by Atul and Harry, alumni of the IIT, Delhi and former Amazon employees.[9][10][11] The company initially focused on online book sales with country-wide shipping. Flipkart slowly grew in prominence and was receiving 100 orders per day by 2008.[12]

        Growth, Mergers and Acquisitions
        
        In 2010, Flipkart acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[13]
        
        In 2011, Flipkart acquired the digital distribution business Mime360.com[14] and the digital content library of the Bollywood portal Chakpak.[15] Following the acquisition, Flipkart launched their DRM-free online music store Flyte in 2012. Due to competition from free streaming sites, Flyte was unsuccessful and shut down in June 2013.<br>
        
        In April 2015, Flipkart acquired Appiterate, a Delhi-based mobile marketing automation firm. Flipkart stated that it would use Appiterate's technology to enhance its mobile services.[23] In December 2015, Flipkart purchased a minority stake in the digital mapping provider MapmyIndia[24] and the UPI mobile payments startup PhonePe.[25][26] In 2022, when PhonePe moved its entire base to India, Flipkart separated the ownership of PhonePe and shareholders in India and Singapore and the respective shareholders purchased shares of PhonePe's India entity directly. It was announced that a cash payout of approximately $700 Mn was to the former and current employees who were holding PhonePe's shares</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Partnership</h2>
        <p>n 2016, Flipkart acquired the online fashion retailer Jabong.com from Rocket Internet for US$70 million and

          In January 2017, Flipkart made a US$2 million investment in TinyStep, a parenting information startup.[29]
          
          In April 2017, eBay announced that it would sell its Indian subsidiary, eBay.in, to Flipkart and invest US$500 million in the company. While eBay suggested that the partnership would allow Flipkart to access eBay's network of international vendors, these plans never came to fruition.[30][31] In July 2017, Flipkart made an offer to acquire its main domestic competitor, Snapdeal, for US$700 to 800 million. It was rejected by Snapdeal, which was seeking at least US$1 billion </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Market share</h2>
        <p>In August 2018, American retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing Flipkart at around US$20 billion.[33] Flipkart is valued at $37.6 billion as of 2022.[34] It is planning to go public through a listing in the United States of America in 2023.[35]

          Flipkart invested US$4 million in the customer engagement and rewards platform EasyRewardz on 19 November 2019. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>NFTs</h2>
        <p>Flipkart entered the Non-Fungible Tokens (NFTs) and Web3 segment by letting the Indian purchasers of Nothing Phone (1) to get Nothing's NFT through the app called Nothing Community Dots. These NFTs use Polygon blockchain to host it.[52] The NFT drop happened at FireDrops - which was done on Flipkart's NFT marketplace, supported by GuardianLink.[53] In October 2022, Flipkart also created a shopping platform that was metaverse-based, called Flipverse. The platform allows people to explore products and shop in a more interactive way.[54] The Flipverse has been created through a partnership with a Polygon-incubated firm called eDAO, and Flipverse hopes to provide a similar experience to actual mall like shopping where people would be able to create their own Avatars</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2007-2023</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}